<div class="pageheader">
    <h2>Projects made in Houston </h2>
    <p class="description">Price is in cents</p>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active">Browse Projects</li>
        </ol>
    </div>
</div>
<section id="main-content">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <% if @projects != nil %>

          <% @projects.each do |proj| %>
          <div class="page-header">
            <div class="panel panel-default">
              <div class="panel-body">
                <% if proj.permalink != nil %>
                  <%= link_to project_path(permalink: proj.permalink) do %>
                    <h1>
                      <%= proj.name %> &nbsp;&nbsp;&nbsp;
                      <span style="color: green"><%= "$#{display_in_dollars(proj.price)}" unless proj.price == 0 %></span>
                      <small>by <%= proj.user.username %></small>
                      <br>
                      <small><%= proj.description %></small>
                    </h1>
                  <% end %>
                <% end %>
              </div>
            </div>

          </div>
          <hr>
          <% end %>
        <% end %>
      </div>
  </div>
</section>
